<html>

<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>

<body>
  <table>
      <tr>
          <th>Change Set ID</th>
          <th>Checked-in by</th>
          <th>Impact Analysis Comment</th>
      </tr>
          <td>$changeset</td>
          <td>$checkedInBy</td>
          <td>$comment</td>
      </tr>
  </table>

  <p>Last check-in information is shown above.</p>
  <br/>

<table>
    <tr>
        <th>Change Set ID</th>
        <th>Checked-in by</th>
        <th>Impact Analysis Comment</th>
    </tr>
    #foreach( $arrayEntry in $parsedArray  )
    <tr>
        <td>$!arrayEntry.changesetId</td>
        <td>$!arrayEntry.checkedInBy.displayName</td>
        <td>$!arrayEntry.comment</td>
    </tr>
    #end
</table>

</body>
</html>